# general modules
Django >4.2,<4.3
python-decouple
pillow
djangorestframework


# third party modules
markdown
django-filter
drf-yasg[validation]
djangorestframework-simplejwt

coreapi
persiantools

#deployment modules
gunicorn


#Email third party module
django-mail-templated

#refactoring and tests
black
flake8
pytest
pytest-django
Faker


#backend proccess and cache
django_redis
celery
django-celery-beat