# general modules
Django >4.2,<4.3
python-decouple
pillow
djangorestframework


# third party modules
markdown
django-filter
drf-yasg[validation]
djangorestframework-simplejwt
django-rest-passwordreset

#Email third party module
django-mail-templated

#refactoring and tests
black
flask8
pytest
pytest-django