# general modules
Django >4.2,<4.3
python-decouple
pillow
djangorestframework


# third party modules
markdown
django-filter
drf-yasg[validation]
djangorestframework-simplejwt
djoser
django-cors-headers
psycopg2-binary

#deployment modules
gunicorn

#Email third party module
django-mail-templated

#refactoring and tests
black
flake8
pytest
pytest-django
Faker


#backend proccess and cache
redis
django_redis
celery
django-celery-beat

persiantools
coreapi
requests